
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700;800&display=swap');

body{
    background-color:rgb(255, 252, 245);
    font-family: 'Figtree', sans-serif;
    letter-spacing: 1px;
    font-weight:400;
    color:rgb(100, 109, 102);

}



.navigation{
    overflow: hidden;
    display:flex;
    font-size: 24px; 
    margin:1% 2% 5% 2%;
    float:right;
    justify-content:right;
}

.navigation a{
    color: rgb(100, 109, 102);
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    text-decoration:none;
    z-index: 3;
}

.navigation :last-of-type {
    background-color: rgb(255, 237, 173);
    margin-left:15px;
    padding:auto 40px ;
    text-align: center;
    border-radius:200px;
    text-decoration:none;
}
.navigation :last-of-type:hover{
    background-color:rgb(210, 228, 205);
    transition: background-color ease .5s;
    color:rgb(100, 109, 102);
    text-decoration:none;
}
.navigation a:hover{
    color:rgb(105, 171, 137);
}
.navigation a:active{
    color:rgb(91, 150, 119);
}
.navigation a:last-of-type:active{
    background-color:rgb(165, 205, 167);
}
.welcomePage{
    background-size:cover;
    background-image: url(HomeBg.png);
    width: 100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center;

}

.welcome{ 
    width:95%;
    padding: 10% 3%;
    font-family: 'Figtree', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#welcomeHi{
    font-size: 35px;
    color: rgb(100, 109, 102);
    text-align:left;
    padding-left: 1%;
    letter-spacing:7px;
    word-spacing:12px;
    animation: welcomeCrossRight .90s;
}
#welcomeName{ 
    
    font-size:140px;
    font-weight: 300;
    color:rgb(105, 171, 137);
    letter-spacing:7px;
    text-align:center;
    margin-bottom:10px;
        
}
#welcomeP{
    margin-top: 15px;
    font-size:35px;
    letter-spacing:7px;
    text-align:right;
    animation: welcomeCrossLeft .90s;
    padding-right: 1%;

}

.logo_carousel{
    white-space: nowrap;
    overflow: hidden;
    width:45%;
    margin:0;
    position:relative;

}
.logos{
    display:inline-block;
    align-items: center;
    justify-content: center;
    animation:carousel 20s infinite linear;

}
.logos img{
    width:45px;
    padding:0 40px;
}
.logo_carousel:hover .logos{
    animation-play-state: paused;
}
.logo_carousel:before{
    position:absolute;
    top:0;
    left:0;
    width:150px;
    height:100%;
    background:linear-gradient(to left, rgba(255,255,255,0), rgb(255,252,245));
    content:" ";
    z-index:2;
}
.logo_carousel:after{
    position:absolute;
    top:0;
    right:0;
    width:150px;
    height:100%;
    background:linear-gradient(to right, rgba(255,255,255,0), rgb(255,252,245));
    content:" ";
    z-index:2;
}




.imageGrid{
    display:flex;
    width:80%;
    margin: auto;
    padding:2% 0;
    gap:50px;  
    max-width: 95%;
    animation: pageTransition .80s;
    

}

.column{
    display:flex;
    flex-direction: column;
    gap:50px;
    width:50%;

}
.imageGridBox h1 {
    font-size: 45px;
    font-weight:600;
    color:rgb(105, 171, 137);
    text-align: center;
    margin:0 auto; 
}
.imageGridBox{
    position:relative; 
}

.imageGridBox img{
    border-radius: 25px;
    object-fit: contain;
    width:100%;
}

.content h4{
    font-size: 40px;
}

.content{
    font-size: 24px;
    color: rgb(255, 252, 245);
    line-height: 5px;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(10, 17, 15, 0.621);
    border-radius: 25px;
    position:absolute;
    justify-content: center;
    text-align: center;
    opacity:0;
    transition:.5s;
}
.content:hover{
    opacity:1;
}


.logoContainer{
    display:flex;
    width:80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:20% 0;
    gap:50px;  
}
.logoImg{
    position: relative;
}



.logoContainer column{
    display: flex;
    flex-direction: column;
    width:50%;   
    position: relative;

}

.logoContainer h1{
    font-size: 45px;
    font-weight:600;
    color:rgb(105, 171, 137);
    text-align: center;
    padding: 0 auto;

}

.logoContainer p{
    font-size: 20px;
    text-align: center;
    align-items: center;
    padding: 5% auto;
}

.logoContainer img{
    margin: auto auto;
    width:100%;
    border-radius: 30px;
}

.logoImgLast{
    font-size: 30px;
    color: rgb(105, 171, 137);
    text-align: center;
    padding:10%;
}


.aboutContainer{
    width:100%;
    

}


.aboutContainer2{
    display:grid;
    
    margin:30% auto 0 auto; 
    padding: 2% 0%;
    width:90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.aboutMe {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Figtree', sans-serif;   
    justify-content: center;
}


.aboutMe h1{
    margin: auto 10%;
    padding-bottom:3%;
    color: rgb(105, 171, 137);
    width:80%;
    font-size: 70px;
    font-weight:400;
    letter-spacing: 4px;
    animation: welcomeCrossRight .90s;

}
.aboutMe ul {
    list-style-type: circle;
    list-style-position: outside;
    font-size:23px;
    padding:0 20%;
    animation: welcomeCrossRight .90s;

}

.aboutMe p{
    font-size: 23px;
    width:73%;
    margin: 0 10%; /*top and bottom margin = 0, left and right margin evenly distributed*/
    align-items: left;
    font-family: 'Figtree', sans-serif;
    animation: welcomeCrossRight .90s;
}
#scroll{
    text-align:center;
    padding: 8%;
    font-weight:600;
    color:rgb(105, 171, 137);
}


.aboutMeImg{
    height: 50vh;
    margin:auto auto;
    border-radius:100%;
    z-index:2;

    animation:  .90s;

}


.section2{
    align-items: center;
    justify-content: center;
    width:100%;
    
}

.experiences{
    width:50%;
    margin: 0 auto;
    position:relative;
    z-index: 2;

}

.section2 h1{
    color:rgb(91, 150, 119);
    letter-spacing: 2px;

    width:100%;
    background-color: rgb(210, 228, 205);
    text-align: center;
    padding:2%;
    font-size: 50;
    font-weight: 400;

}
.experiences p{
    width:90%;
    margin:0 5vh;
    font-size: 20px;

}
.experiences h2{
    margin:10px;
    animation: welcomeCrossLeft .90s;
}
.experiences h4{
    margin:10 5vh;
    font-weight: 500;
    font-size: 23px;
    color: rgb(165, 205, 167);
   
}

.experiences ul {
    list-style-type: circle;
    list-style-position: outside;
    font-size:20px;
    margin:0 2vh;
    animation: welcomeCrossRight .90s;

}



.UpperCircle{
    position:absolute;
    border-radius: 50%;
    background-color: rgb(210, 228, 205);
    height: 100vh;
    width:100vh;
    z-index: 1;
    bottom:.5vh;
    right:60vw;
    transform:translate(2vw,-30vh)
}
.LowerCircle{
    position:absolute;
    border-radius: 50%;
    background-color: rgb(236, 244, 234);
    height: 60vh;
    width:60vh;
    z-index: 1;
    top:90vh;
    right:45vw;
    transform:translate(1vw,-30vh)
}


.contactBackground{
    width:100%;
    height:100%;
    overflow:hidden;
    animation:pageTransition .9s;

}

.contactContainer{
    width:100%;
    display:flex;
    
    
}

.contactForm{
    display:flex;
    flex-direction: column;
    margin:5% 5%;
    width:40%;
    align-items: center;
    
    animation: movingDown 1.0s;
    
}
form{
    width: 25vw;
}
.contactForm h2{
    font-size: 60px;
    color: rgb(105, 171, 137);
    font-weight: 600;
    margin:0;
}

.formAnswer{
    margin: 2%;
    font-family: 'Figtree', sans-serif; 
}

.formAnswer input{
    font-family: 'Figtree', sans-serif;
    border-radius: 30px;
    background-color: rgb(210, 228, 205);
    width:100%;
    padding: 0.9rem;
    border: none;
    text-align: left;

}

.formAnswer textarea{
    font-family: 'Figtree', sans-serif;
    background-color: rgb(210, 228, 205);
    padding: 0.9rem;
    border: none;
    width:100%;
    height:150px;
    border-radius: 20px;
    resize:none;
    text-align: left;
}


.button{
    background-color: rgb(255, 237, 173);
    font-size: 20px;
    width:3vw;
    color: rgb(100, 109, 102);
    padding: 1rem 2rem;
    border-radius: 20px;
    text-align: center;
    border:none;
    margin: 1% auto;

}
.button:hover{
    background-color:rgb(210, 228, 205);
    transition: background-color ease .5s;
    color:rgb(100, 109, 102);
}
.contact{
    margin: 10vh 2vh;
    position:relative;

}

.contact img{
    position:absolute;
    width:30vw;
    padding: 10vw 10vw;
    z-index:2;

}
.circle{
    position:absolute;
    border-radius: 50%;
    background-color: rgb(236, 244, 234);
    height: 130vh;
    width:130vh;
    z-index: 1;
    top:4vh;
    left:1vw;
    transform:translate(1vw,-13vh)
}

/*
.bullets{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    font-size: 23px;
    align-items: center;
    width:60%;
    list-style-type: none;
    justify-content:end;
    padding: 10vh 0;
}

.phone{
    grid-column:2;
    grid-row:1;
    padding-left:10px;
}
.email{
    grid-column:2;
    grid-row:2;
    padding-left:10px;
}
.insta{
    grid-column:2;
    grid-row:3;
    padding-left:10px;
}
.phoneBullet{
    grid-column:1;
    grid-row:1;
    width:2vw;
    align-items: right;

}
.emailBullet{
    grid-column:1;
    grid-row:2;
    width:2vw;
}
.instaBullet{
    grid-column:1;
    grid-row:3;
    width:2vw;
}
*/

@keyframes pageTransition{
    from{
        opacity:0;
        transform: translateX(1vh);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes welcomeCrossRight{
    from{
        opacity:0;
        transform: translateX(100vh);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes welcomeCrossLeft{
    from{
        opacity:0;
        transform: translateX(-100vh);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes carousel{
    from{
        transform: translateX(0);

    }
    to{
        transform:translateX(-100%);
    }
}

@keyframes movingDown{
    from{
        opacity:0;
        transform: translateY(100vh);

    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}


