
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700;800&display=swap');

body{
    background-color:rgb(255, 252, 245);
    font-family: 'Figtree', sans-serif;
    letter-spacing: 1px;
    font-weight:400;
}

.navigation{
    overflow: hidden;
    display:flex;
    font-size: 24px; 
    margin:1% 2% 5% 2%;
    float:right;
    justify-content:right;
}

.navigation a{
    color: rgb(100, 109, 102);
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    text-decoration:none;
}

.navigation :last-of-type {
    background-color: rgb(255, 237, 173);
    margin-left:15px;
    padding:auto 40px ;
    text-align: center;
    border-radius:200px;
    text-decoration:none;
}
.navigation :last-of-type:hover{
    background-color:rgb(210, 228, 205);
    transition: background-color ease .5s;
    color:rgb(100, 109, 102);
    text-decoration:none;
}
.navigation a:hover{
    color:rgb(105, 171, 137);
}
.navigation a:active{
    color:rgb(91, 150, 119);
}
.navigation a:last-of-type:active{
    background-color:rgb(165, 205, 167);
}
.welcomePage{
    background-size:cover;
    background-image:url(BgImg.png);
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center;
}
.welcome{ 
    padding: 8% 5%;
    font-family: 'Figtree', sans-serif;
    text-align: left;
    
}
#welcomeHi{
    font-size: 35px;
    color: rgb(100, 109, 102);
    text-align:left;
    letter-spacing:7px;
    word-spacing:12px;
    padding-top: 3%;
}
#welcomeName{
    font-size:170px;
    color:rgb(105, 171, 137);
    letter-spacing:7px;
    text-align:left;
    line-height:1.0;
    padding:4% 0% 0% 0%;
}
#welcomeP{
    font-size:35px;
    color: rgb(100, 109, 102);
    letter-spacing:7px;
    text-align:right;

}


.imageGrid{
    width:90%;
    padding: 0% 5%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:2%;
}

.imageGrid >img{ 
    width:100%;
    object-fit:cover;
}
.imageGridEclair{
    grid-column: span 2;
}
.imageGridWhale{
    padding:20% 0;
    grid-column: span 2;
}
.imageGridPumpkin {
    grid-column: span 2;
}
.imageGridExit{
    width:50%;
    grid-column: span 1;
}


.imageGridTeapot{
    padding:0%;
    grid-column: span 2;
} 
.imageGridTeaparty{
    grid-column: span 2;
} 
.imageGridAntelope{
    grid-column:span 2;
}
.imageGridWICS{
    grid-column:span 2;
}



.aboutContainer{
    background-image:url(AboutMeBg.png);
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.aboutContainer2{
    align-items:center;
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.aboutMe {
    color: rgb(100, 109, 102);
    font-family: 'Figtree', sans-serif;   
    font-variant: normal; 
    padding:0 5%;
    
}


.aboutMe h1{
    color: rgb(105, 171, 137);
    padding:0 13%;
    font-size: 65px;
    font-weight:400;
    letter-spacing: 3px;
    text-align:left;



}
.aboutMe ul {
    list-style-type: circle;
    list-style-position: outside;
    color: rgb(100, 109, 102);
    font-size:23px;
    padding:0 15%;
}


.aboutMe p{
    color: rgb(100, 109, 102);
    font-size: 23px;
    text-align: justify;
    width:75%;
    margin: 0 auto; /*top and bottom margin = 0, left and right margin evenly distributed*/
    align-items: left;
    font-family: 'Figtree', sans-serif;

    
}

.aboutMeImg{
    grid-column: 1;
    grid-row: 1;
    width: 65%;
    margin:auto auto;
    border-radius:100%;

}




.contact{
    font-size:50px;
    color: rgb(105, 171, 137);
    padding:100px;
}

